# 복습

In [22]:
file = open("hello_world.py", 'r')

In [24]:
h = file.read()

In [25]:
print(h)

print('Hello world')

In [23]:
print(file)

<_io.TextIOWrapper name='hello_world.py' mode='r' encoding='cp949'>

### 변수는 객체를 가리킨다
##### DATA가 복사되는 것이 아니라, 똑같은 객체를 가리키는 변수가 하나 더 생기게 되는것? 객체에 대한 참조만 전달된다.

In [26]:
a = [1, 2, 3]

In [27]:
b = a

In [28]:
a.append(4)

In [29]:
b

[1, 2, 3, 4]

In [30]:
a

[1, 2, 3, 4]

In [31]:
def append_element(some_list, element):
    some_list.append(element)

In [32]:
data = [1, 2, 3]

In [33]:
append_element(data, 4)

In [34]:
data

[1, 2, 3, 4]

In [35]:
a = 4.5
b = 2

In [44]:
print('a is %s, b is %s' % (type(a), type(b)))

a is <class 'float'>, b is <class 'int'>

In [45]:
a / b

2.25

In [46]:
a = 5
isinstance(a, int)

True

In [49]:
a = 5
isinstance(a, (int, float))

True

In [51]:
b = 4.5
isinstance(b, (int, float))

True

In [52]:
a = 'foo'

In [ ]:
a.

In [53]:
getattr(a, 'split')

In [54]:
PI = 3.1459

In [56]:
import some_module

In [57]:
result = some_module.f(5)

In [58]:
pi = some_module.PI

In [59]:
print(result)

7

In [60]:
print(PI)

3.1459

In [61]:
from some_module import f, g, PI
result = g(5, PI)

In [62]:
print(result)

8.13159

In [63]:
import some_module as sm
from some_module import PI as pi, g as gf

r1 = sm.f(pi)
r2 = gf(6, pi)

In [64]:
print(r1)

5.13159

In [65]:
print(r2)

9.13159

In [71]:
a = [1, 2, 3]

In [72]:
a is None

False

In [73]:
a == None

False

In [74]:
c = list(a)

In [75]:
c

[1, 2, 3]

In [76]:
a

[1, 2, 3]

In [77]:
a is c

False

In [78]:
a is not c

True

In [79]:
type(a)

list

In [80]:
type(c)

list

In [81]:
a.append(4)

In [82]:
a

[1, 2, 3, 4]

In [83]:
c

[1, 2, 3]

##### 새로운 리스트를 생성했을 경우, 두 참조 변수는 같은 객체를 가리키고 있지 않다.

In [84]:
a = b = c = 5

In [85]:
d = a + b * c

In [86]:
print(d)

30

In [87]:
print(b * c)

25

In [88]:
a_list = ['foo', 2, [4, 5]]

In [89]:
a_list[2] = (3, 4)

In [90]:
a_list

['foo', 2, (3, 4)]

In [91]:
print(type(a_list[0]))

<class 'str'>

In [92]:
print(type(a_list[2]))

<class 'tuple'>

In [93]:
a_list[2] = 'four'

In [95]:
a_list

['foo', 2, 'four']

In [97]:
a_tuple = (3, 5, (4, 5))

In [98]:
a_tuple[1] = 'four'

TypeError: 'tuple' object does not support item assignment

In [99]:
ival = 17239871

In [100]:
ival ** 6

26254519291092456596965462913230729701102721

In [101]:
p = 2

In [102]:
p ** 6

64

In [103]:
a = 'this is a string'
a[10] = 'f'

TypeError: 'str' object does not support item assignment

In [104]:
b = a.replace('string', 'longer string')

In [105]:
b

'this is a longer string'

In [106]:
s = "python"

In [107]:
s

'python'

In [108]:
s[:3]

'pyt'

In [109]:
list(s)

['p', 'y', 't', 'h', 'o', 'n']

In [110]:
list(s)[:3]

['p', 'y', 't']

In [114]:
s = '12//34'

In [115]:
print(s)

12//34

In [121]:
a = ['foo']

In [122]:
if a:
    print('I found something')

I found something

In [118]:
b = []

In [120]:
if not b:
    print('Empty!')

Empty!

In [123]:
bool([]), bool([1, 2, 3])

(False, True)

In [124]:
bool('Hello World!'), bool('')

(True, False)

In [125]:
bool(0), bool(1)

(False, True)

In [129]:
from datetime import datetime, date, time

In [141]:
datetime?

In [131]:
dt = datetime(2011, 10, 29, 20, 30, 21)

In [132]:
dt.day

29

In [135]:
dt.hour

20

In [136]:
dt.second

21

In [137]:
dt.date()

datetime.date(2011, 10, 29)

In [142]:
date?

In [146]:
f = open("c:\anaconda3\lib\datetime.py", 'r')

OSError: [Errno 22] Invalid argument: 'c:\x07naconda3\\lib\\datetime.py'

In [147]:
dt2 = datetime(2011, 11, 15, 22, 30)

In [148]:
delta = dt2 - dt

In [149]:
delta

datetime.timedelta(17, 7179)

In [151]:
x = 5

In [153]:
if x > 0:
    print("It's negative")

It's negative

In [156]:
if x < 0:
    print("It's negative")
elif x == 0:
    print("Equal to zero")
elif 0 < x < 5:
    print("Positive but smaller than 5")
else:
    print("Positive and larger than or equal to 5")

Positive and larger than or equal to 5

In [157]:
sequence = [1, 2, None, 4, None, 5]

In [158]:
total = 0

In [160]:
for value in sequence:
    if value is None:
        continue
    total += value

In [161]:
print(total)

12

In [162]:
sequence = [1, 2, 0, 4, 6, 5, 2, 1]

In [163]:
total_until_5 = 0

In [164]:
for value in sequence:
    if value == 5:
        break
    total_until_5 += value

In [165]:
print(total_until_5)

13

In [166]:
x = 256
total = 0
while x > 0:
    if total > 300:
        break
    total += x

In [167]:
print(total)

512

In [168]:
x = 256
total = 0
while x > 0:
    if total > 300:
        break
    total += x
    x = x // 2

In [169]:
print(total)

384

In [170]:
if x < 0:
    print("negative!")
elif x == 0:
    pass
else:
    print("positive!")

positive!

In [171]:
seq = [1, 2, 3, 4]
for i in range(len(seq)):
    val = seq[i]

In [172]:
len(seq)

4

In [174]:
print(val)

4

In [175]:
range(len(seq))

range(0, 4)

In [179]:
seq = [1, 2, 3, 4]
for i in seq:
    val = seq(i)

TypeError: 'tuple' object is not callable

# 튜플

In [1]:
tup = 4, 5, 6

In [2]:
tup

(4, 5, 6)

In [3]:
tuple([4, 0, 2])

(4, 0, 2)

In [4]:
tup = tuple('string')

In [5]:
tup

('s', 't', 'r', 'i', 'n', 'g')

In [6]:
tup[0]

's'

In [7]:
tup = tuple(['foo', [1, 2], True])

In [8]:
tup[2] = False

TypeError: 'tuple' object does not support item assignment

In [9]:
tup[1].append(3)

In [10]:
tup

('foo', [1, 2, 3], True)

In [11]:
tup = (4, 5, 6)

In [12]:
a, b, c = tup

In [13]:
b

5

In [14]:
tup

(4, 5, 6)

In [15]:
a, b, c

(4, 5, 6)

In [17]:
f, c = tup

ValueError: too many values to unpack (expected 2)

In [18]:
tup = 4, 5, (6, 7)

In [19]:
a, b, (c, d) = tup

In [20]:
d

7

In [21]:
a

4

In [22]:
a, b

(4, 5)

In [23]:
a, b, (c, d)

(4, 5, (6, 7))

In [24]:
tup

(4, 5, (6, 7))

In [25]:
d

7

In [26]:
tmp = a

In [27]:
a = b

In [28]:
tmp

4

In [29]:
a = b

In [30]:
b

5

In [31]:
b = tmp

In [32]:
b, a = a, b

In [33]:
b

5

In [34]:
tmp

4

In [35]:
tmp = a

In [36]:
a = b

In [37]:
a

5

In [38]:
b

5

In [39]:
tmp.a

AttributeError: 'int' object has no attribute 'a'

In [40]:
tmp[0]

TypeError: 'int' object is not subscriptable

In [41]:
seq = [(1, 2, 3), (4, 5, 6), (7, 8, 9)]

In [47]:
for a, b, c in seq:
    print(a)

1
2
4
5
7
8

In [48]:
for a, b, c in seq:
    print(b)

2
5
8

In [56]:
ab_ab = []
for a, b, c in seq:
    ab = a, b
    ab_ab.append(ab)
    print(ab)
print(ab_ab)

(1, 2)
(4, 5)
(7, 8)
[(1, 2), (4, 5), (7, 8)]

In [57]:
ab_ab = []
for a, b, c in seq:
    ab = a
    ab_ab.append(ab)
    print(ab)
print(ab_ab)

1
4
7
[1, 4, 7]

In [52]:
for a, b, c in seq:
    print(a, b)

1 2
4 5
7 8

In [58]:
a = (1, 2, 2, 2, 3, 4, 2)

In [59]:
a.count(2)

4

In [60]:
a = [1, 2, 2, 2, 3, 4, 2]

In [61]:
a.count(2)

4

In [62]:
a_list = [2, 3, 7, None]

In [63]:
a_list

[2, 3, 7, None]

In [64]:
tup = ('foo', 'bar', 'baz')

In [65]:
tup

('foo', 'bar', 'baz')

In [66]:
tup2 = 'foo', 'bar', 'baz'

In [67]:
tup2

('foo', 'bar', 'baz')

In [68]:
b_list = list(tup)

In [69]:
b_list

['foo', 'bar', 'baz']

In [70]:
b_list.append('dwarf')

In [71]:
b_list

['foo', 'bar', 'baz', 'dwarf']

In [72]:
b_list.insert(1, 'red')

In [73]:
b_list

['foo', 'red', 'bar', 'baz', 'dwarf']

In [74]:
b_list.pop(2)

'bar'

In [75]:
b_list

['foo', 'red', 'baz', 'dwarf']

In [76]:
b_list

['foo', 'red', 'baz', 'dwarf']

In [77]:
b_list.append('foo')

In [78]:
b_list

['foo', 'red', 'baz', 'dwarf', 'foo']

In [79]:
b_list.remove('foo')

In [81]:
b_list

['red', 'baz', 'dwarf', 'foo']

In [82]:
'dwarf' in b_list

True

In [86]:
list_of_lists = ['a', 'b', 'c', 'd']

In [87]:
everything = []
for chunk in list_of_lists:
    everything.extend(chunk)

In [88]:
print(everything)

['a', 'b', 'c', 'd']

In [89]:
everything = []
for chunk in list_of_lists:
    everything.append(chunk)

In [90]:
print(everything)

['a', 'b', 'c', 'd']

In [93]:
everything = []
for chunk in list_of_lists:
    everything = everything + chunk

TypeError: can only concatenate list (not "str") to list

In [94]:
b = ['saw', 'small', 'He', 'foxes', 'six']
b.sort(key=len)

In [95]:
b

['He', 'saw', 'six', 'small', 'foxes']

In [96]:
import bisect

In [97]:
c = [1, 2, 2, 2, 3, 4, 7]

In [98]:
bisect.bisect(c, 2)

4

In [99]:
print(bisect.bisect(c, 2))

4

In [100]:
print(c)

[1, 2, 2, 2, 3, 4, 7]

In [101]:
bisect.bisect(c, 5)

6

In [104]:
bisect.insort(c, 5)
print(bisect.insort(c, 5))

None

In [106]:
c

[1, 2, 2, 2, 3, 4, 5, 5, 5, 7]

In [107]:
bisect.bisect(c, 6)

9

In [108]:
bisect.insort(c, 6)

In [109]:
c

[1, 2, 2, 2, 3, 4, 5, 5, 5, 6, 7]

In [110]:
seq1 = ['foo', 'bar', 'baz']
seq2 = ['one', 'two', 'three']

In [111]:
zip(seq1, seq2)

In [112]:
list(zip(seq1, seq2))

[('foo', 'one'), ('bar', 'two'), ('baz', 'three')]

In [113]:
z = zip(seq1, seq2)

In [114]:
z

In [115]:
for val in list(z):
    print(val)

('foo', 'one')
('bar', 'two')
('baz', 'three')

In [120]:
seq3 = [False, True]
zip(seq1, seq2, seq3)
z = zip(seq1, seq2, seq3)

In [121]:
for i, (a, b) in enumerate(z)

SyntaxError: invalid syntax (<ipython-input-121-158f9e10b308>, line 1)

In [122]:
pitchers = [('Nolan', 'Ryan'), ('Roger', "Clememes"), ('Schilling', 'Curt')]

In [123]:
first_names, last_names = zip(*pitchers)

In [124]:
first_names

('Nolan', 'Roger', 'Schilling')

In [125]:
last_names

('Ryan', 'Clememes', 'Curt')

In [126]:
repitchers = zip(first_names, last_names)

In [127]:
repitchers

In [128]:
list(repitchers)

[('Nolan', 'Ryan'), ('Roger', 'Clememes'), ('Schilling', 'Curt')]

In [129]:
pitchers

[('Nolan', 'Ryan'), ('Roger', 'Clememes'), ('Schilling', 'Curt')]

In [130]:
repitchers

In [131]:
list(zip(*pitchers))

[('Nolan', 'Roger', 'Schilling'), ('Ryan', 'Clememes', 'Curt')]

In [133]:
def test_var_args(f_arg, *argv):
    print("first normal arg:", f_arg)
    for arg in argv:
        print("another arg through *argv :", arg)

In [134]:
test_var_args(10)

first normal arg: 10

In [135]:
test_var_args(10, 11, 12, 13)

first normal arg: 10
another arg through *argv : 11
another arg through *argv : 12
another arg through *argv : 13

In [136]:
test_var_args(20)

first normal arg: 20

In [141]:
def greet_me(**kwargs):
    if kwargs is not None:
        print(kwargs.keys())
        for key in kwargs.keys():
            print("%s == %s" %(key, kwargs[key]))

In [142]:
greet_me(a='HELLO', b='WORLD', name='PYTHON')

dict_keys(['a', 'b', 'name'])
a == HELLO
b == WORLD
name == PYTHON

In [145]:
kwargs = {'a': 'hello', 'b':'world', 'name':'python'}

In [147]:
kwargs['a']

'hello'

In [148]:
d = {'a': 'hello', 'b':'world', 'name':'python'}

In [149]:
greet_me(**d)

dict_keys(['a', 'b', 'name'])
a == hello
b == world
name == python