# # Modules
### <p style="color:Tomato">Learned how to import and work with modules<p/>

In [1]:
from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = 'all'

In [2]:
import math

In [3]:
root = math.sqrt(99)
root

9.9498743710662

In [4]:
flr = math.floor(89.9)
flr

89

In [5]:
import math as a
root = a.sqrt(33)

In [6]:
from math import *
root = math.sqrt(1001)

In [7]:
print(math.pi)

3.141592653589793

In [8]:
a = sqrt(math.pi)
b = ceil(math.pi)
c = floor(math.pi)
a
b
c

1.7724538509055159

4

3

In [10]:
import csv
f = open("nfl.csv")
csvreader = csv.reader(f)
nfl = list(csvreader)
nfl[:10]

[['year', 'week', 'winner', 'loser'],
 ['2009', '1', 'Pittsburgh Steelers', 'Tennessee Titans'],
 ['2009', '1', 'Minnesota Vikings', 'Cleveland Browns'],
 ['2009', '1', 'New York Giants', 'Washington Redskins'],
 ['2009', '1', 'San Francisco 49ers', 'Arizona Cardinals'],
 ['2009', '1', 'Seattle Seahawks', 'St. Louis Rams'],
 ['2009', '1', 'Philadelphia Eagles', 'Carolina Panthers'],
 ['2009', '1', 'New York Jets', 'Houston Texans'],
 ['2009', '1', 'Atlanta Falcons', 'Miami Dolphins'],
 ['2009', '1', 'Baltimore Ravens', 'Kansas City Chiefs']]

#### <p style="color:Gray">Counting how many times a team won <p/>

patriots_wins = 0
for winner in nfl:
    if winner[2] == "New England Patriots":
        patriots_wins += 1
patriots_wins

#### <p style="color:Gray">Making a function that counts wins<p/>

In [11]:
def nfl_wins(dataset, team):
    counter = 0
    for item in dataset:
        if item[2] == team:
            counter += 1
    return counter

In [12]:
cowboys_wins = nfl_wins(nfl, "Dallas Cowboys")
cowboys_wins

10

In [13]:
falcons_wins = nfl_wins(nfl, "Atlanta Falcons")
falcons_wins

7

# # Classes
### <p style="color:Tomato">Learned how classes can help you organize code while analyzing football data<p/>

* Create a class called Dataset. 
    * Inside the class create a type attribute. Assign the value "csv" to it.

In [14]:
class Dataset:
    def __init__(self):
        self.type = "csv"

* 
    * Create an instance of the Dataset class, and assign it to the variable dataset.

In [15]:
dataset = Dataset()

In [16]:
print(dataset.type)

csv

In [17]:
class Dataset:
    def __init__(self, data):
        self.data = data

In [18]:
f = open("nfl.csv", 'r')
csvreader = csv.reader(f)
nfl_data = list(csvreader)
nfl_data[:10]

[['year', 'week', 'winner', 'loser'],
 ['2009', '1', 'Pittsburgh Steelers', 'Tennessee Titans'],
 ['2009', '1', 'Minnesota Vikings', 'Cleveland Browns'],
 ['2009', '1', 'New York Giants', 'Washington Redskins'],
 ['2009', '1', 'San Francisco 49ers', 'Arizona Cardinals'],
 ['2009', '1', 'Seattle Seahawks', 'St. Louis Rams'],
 ['2009', '1', 'Philadelphia Eagles', 'Carolina Panthers'],
 ['2009', '1', 'New York Jets', 'Houston Texans'],
 ['2009', '1', 'Atlanta Falcons', 'Miami Dolphins'],
 ['2009', '1', 'Baltimore Ravens', 'Kansas City Chiefs']]

In [19]:
nfl_dataset = Dataset(nfl_data)
nfl_dataset

In [20]:
dataset_data = nfl_dataset.data
dataset_data[:10]

[['year', 'week', 'winner', 'loser'],
 ['2009', '1', 'Pittsburgh Steelers', 'Tennessee Titans'],
 ['2009', '1', 'Minnesota Vikings', 'Cleveland Browns'],
 ['2009', '1', 'New York Giants', 'Washington Redskins'],
 ['2009', '1', 'San Francisco 49ers', 'Arizona Cardinals'],
 ['2009', '1', 'Seattle Seahawks', 'St. Louis Rams'],
 ['2009', '1', 'Philadelphia Eagles', 'Carolina Panthers'],
 ['2009', '1', 'New York Jets', 'Houston Texans'],
 ['2009', '1', 'Atlanta Falcons', 'Miami Dolphins'],
 ['2009', '1', 'Baltimore Ravens', 'Kansas City Chiefs']]

In [21]:
class Dataset:
    def __init__(self, data):
        self.data = data
    def print_data(self, num_rows):
        print(self.data[:num_rows])

In [22]:
nfl_dataset = Dataset(nfl_data)

In [23]:
nfl_dataset.print_data(5)

[['year', 'week', 'winner', 'loser'], ['2009', '1', 'Pittsburgh Steelers', 'Tennessee Titans'], ['2009', '1', 'Minnesota Vikings', 'Cleveland Browns'], ['2009', '1', 'New York Giants', 'Washington Redskins'], ['2009', '1', 'San Francisco 49ers', 'Arizona Cardinals']]

In [24]:
class Dataset:
    def __init__(self, data):
        self.data = data
        nfl_dataset = Dataset(nfl_data)

class Dataset:
    def __init__(self, data):
        self.header = data[0]
        self.data = data[1:]

In [25]:
nfl_dataset = Dataset(nfl_data)
nfl_header = nfl_dataset.header

#### <p style="color:Gray">Enhancing the Initializer<p/>
we want is to extract the header once and only once in our class.

In [26]:
class Dataset:
    def __init__(self, data):
        self.data = data

In [27]:
nfl_dataset = Dataset(nfl_data)
nfl_dataset

In [28]:
nfl_dataset.data[:10]

[['year', 'week', 'winner', 'loser'],
 ['2009', '1', 'Pittsburgh Steelers', 'Tennessee Titans'],
 ['2009', '1', 'Minnesota Vikings', 'Cleveland Browns'],
 ['2009', '1', 'New York Giants', 'Washington Redskins'],
 ['2009', '1', 'San Francisco 49ers', 'Arizona Cardinals'],
 ['2009', '1', 'Seattle Seahawks', 'St. Louis Rams'],
 ['2009', '1', 'Philadelphia Eagles', 'Carolina Panthers'],
 ['2009', '1', 'New York Jets', 'Houston Texans'],
 ['2009', '1', 'Atlanta Falcons', 'Miami Dolphins'],
 ['2009', '1', 'Baltimore Ravens', 'Kansas City Chiefs']]

In [29]:
class Dataset:
    def __init__(self, data):
        self.header = data[0]
        self.data = data[:1]

In [30]:
nfl_dataset = Dataset(nfl_data)
nfl_header = nfl_dataset.header
nfl_dataset
nfl_header

['year', 'week', 'winner', 'loser']

#### <p style="color:Gray">Enumerate()<p/>
help us search the header and extract both the the index and label to check.

In [31]:
for idx, value in enumerate(['foo', 'bar']):
    print(idx, value)

0 foo
1 bar

In [38]:
a = ['year', 'week', 'winner', 'loser']

In [ ]:
if label not in a:
        return None
    index = 0
    for idx, element in enumerate(a):
        if label == element:
            index = idx
    column = []

In [67]:
class Dataset:
    def __init__(self, data):
        self.header = data[0]
        self.data = data[1:]
        
    def column(self, label):
        if label not in self.header:
            print('no column')
            return None
        
        index = 0
        for idx, element in enumerate(self.header):
            if label == element:
                index = idx
        column = []
        for row in self.data:
            column.append(row[index])
        return column

In [68]:
nfl_dataset = Dataset(nfl_data)

In [69]:
nfl_dataset.header
nfl_dataset.data[:10]

['year', 'week', 'winner', 'loser']

[['2009', '1', 'Pittsburgh Steelers', 'Tennessee Titans'],
 ['2009', '1', 'Minnesota Vikings', 'Cleveland Browns'],
 ['2009', '1', 'New York Giants', 'Washington Redskins'],
 ['2009', '1', 'San Francisco 49ers', 'Arizona Cardinals'],
 ['2009', '1', 'Seattle Seahawks', 'St. Louis Rams'],
 ['2009', '1', 'Philadelphia Eagles', 'Carolina Panthers'],
 ['2009', '1', 'New York Jets', 'Houston Texans'],
 ['2009', '1', 'Atlanta Falcons', 'Miami Dolphins'],
 ['2009', '1', 'Baltimore Ravens', 'Kansas City Chiefs'],
 ['2009', '1', 'Indianapolis Colts', 'Jacksonville Jaguars']]

In [70]:
year_column = nfl_dataset.column('year')
player_column = nfl_dataset.column('player')

no column

In [71]:
year_column[:10]
player_column

['2009',
 '2009',
 '2009',
 '2009',
 '2009',
 '2009',
 '2009',
 '2009',
 '2009',
 '2009']

In [72]:
weeks = [1, 1, 1, 1, 1, 1, 2, 2, 2, 2]
unique_weeks = set(weeks)
print(unique_weeks)

{1, 2}

In [73]:
print(type(unique_weeks))

<class 'set'>

In [74]:
class Dataset:
    def __init__(self, data):
        self.header = data[0]
        self.data = data[1:]
        
    def column(self, label):
        if label not in self.header:
            print('no column')
            return None
        
        index = 0
        for idx, element in enumerate(self.header):
            if label == element:
                index = idx
        column = []
        for row in self.data:
            column.append(row[index])
        return column
   
    def count_unique(self, label):
        unique_results = set(self.column(label))
        count = len(unique_results)
        return count

In [75]:
nfl_dataset = Dataset(nfl_data)
total_years = nfl_dataset.count_unique('year')

In [76]:
total_years

1