# # Variable Scopes
### <p style="color:Tomato">Learn about scopes by analyzing student loan defaults in the U.S.<p/>
Using a data set on student loan defaults in the United States.<br/>
Each row of our dataset represents a single university, and contains information about the number of its students who later defaulted on their loans. While the data contains twelve columns, we'll be looking at a few in particular: <br/>
<br/>
데이터 세트의 각 행은 단일 대학을 대표하며, 나중에 대출을 불이행 한 학생들의 수에 대한 정보를 포함합니다. 데이터에 12 개의 열이 포함되어 있지만 특히 몇 가지를 살펴 보겠습니다.
#### <p style="color:Gray">student_loan_defaults.csv<p/>

In [1]:
from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = 'all'

In [2]:
import csv
f = open('student_loan_defaults.csv', encoding='UTF8')
student_loan = list(csv.reader(f))
# 'cp949' codec can't decode byte 0xe2 in position 7250: illegal multibyte sequence
# must be add encoding='UTF8
student_loan[0]
student_loan = student_loan[1:]
student_loan[:5]

['serial',
 'opeid',
 'institution',
 'address',
 'city',
 'state',
 'zip',
 'repayment_borrowers',
 'default_borrowers',
 'default_rate',
 'borrower_default_count_240',
 'principal_outstanding_240']

[['1',
  '100200',
  'Alabama Agricultural & Mechanical University',
  '4900 Meridian Street',
  'Normal',
  'AL',
  '35762-1357',
  '145',
  '54',
  '37.2400%',
  '1606',
  '954821'],
 ['6',
  '100500',
  'Alabama State University',
  '915 South Jackson Street',
  'Montgomery',
  'AL',
  '36104-5714',
  '164',
  '12',
  '7.3200%',
  '1567',
  '1410608'],
 ['13',
  '100900',
  'Auburn University',
  '107 Samford Hall',
  'Auburn',
  'AL',
  '36849-5113',
  '479',
  '29',
  '6.0500%',
  '269',
  '747267'],
 ['14',
  '831000',
  'Auburn University Montgomery',
  '7440 East Drive',
  'Montgomery',
  'AL',
  '36117-3596',
  '88',
  '20',
  '22.7300%',
  '184',
  '457312'],
 ['16',
  '101200',
  'Birmingham Southern College',
  '900 Arkadelphia Road',
  'Birmingham',
  'AL',
  '35254-0002',
  '69',
  '12',
  '17.3900%',
  '93',
  '240798']]

In [3]:
f = open('student_loan_defaults.csv', encoding='UTF8')
student_loan = list(csv.reader(f))

class Dataset:
    def __init__(self, data):
        self.header = data[0]
        self.data = data[1:]
    def column(self, label):
        if label not in self.header:
            return None
        index = 0
        for idx, element in enumerate(self.header):
            if label == element:
                index = idx
        column = []
        for row in self.data:
            column.append(row[index])
        return column

In [4]:
student_loan_dataset = Dataset(student_loan)
header = student_loan_dataset.header
borrower_default_count_240 = student_loan_dataset.column('borrower_default_count_240')

In [5]:
print(len(borrower_default_count_240))
print(borrower_default_count_240[0:10])

1845
['1606', '1567', '269', '184', '93', '75', '52', '88', '12', '5']

In [6]:
header = student_loan_dataset.header
header

['serial',
 'opeid',
 'institution',
 'address',
 'city',
 'state',
 'zip',
 'repayment_borrowers',
 'default_borrowers',
 'default_rate',
 'borrower_default_count_240',
 'principal_outstanding_240']

#### <p style="color:Gray">Bulit-in functions<p/>
>some python functions are available by defalut, without having to import them.<br/>
Developers use these functions so often that it made sense to make them a part of the language itself. <br/>
https://docs.python.org/3/library/functions.html

In [7]:
a = [6, 11]
total = sum(a)
total

17

In [8]:
total = sum([6, 11])

In [9]:
b = 10
print(b)

10

This code will actually generate an error because sum no longer points to the built-in Python function but to the expression sum(b) instead.

In [10]:
b = [1, 2]
# sum = sum(b)
print(sum)

<built-in function sum>

In [11]:
def add(a, b):
    total = a + b
    return total

In [12]:
total = 15
print(add(10, 20))
print(total)

30
15

#### <p style="color:Tomato">The ide of variable scoping<p/>
allows us to isolate what happens in functions from what happens in the rest of our program
#### <p style="color:Gray"># global scope<p/>
> The global scope is whatever happens outside of a function.<br/>
ex) Global scope<br/>
total = 15

<br/>
#### <p style="color:Gray"># local scope<p/>
> Anything that happens inside a function is in a local scope<br/>
ex) Local scope(add) <br/>
total = 30<br/><br/>

<br/>
**There's only one global scope, but each function creates its own local scope.**
<br/>
the script above would print out two different totals: first 30, then 15.<br/>
That's because the variable total we defined in our script is in **the global scope**, whereas the total variable inside add is in **a local scope**.

In [14]:
print(type(borrower_default_count_240[0]))

<class 'str'>

[Error handling]<br/>
what error:<br/>
unsupported operand type(s) for +: 'int' and 'str'

In [17]:
borrower_default_count_240 = [int(row) for row in borrower_default_count_240]

In [18]:
print(type(borrower_default_count_240[0]))

<class 'int'>

In [19]:
def find_average(column):
    length = len(column)
    total = sum(column)
    return total / length

In [21]:
total = sum(borrower_default_count_240)
print(total)

499833

In [23]:
average = find_average(borrower_default_count_240)
print(average)

270.91219512195124