# #Files And Loops

In [15]:
f = open('crime_rates.csv', 'r')
data = f.read()
data

'Albuquerque,749\nAnaheim,371\nAnchorage,828\nArlington,503\nAtlanta,1379\nAurora,425\nAustin,408\nBakersfield,542\nBaltimore,1405\nBoston,835\nBuffalo,1288\nCharlotte-Mecklenburg,647\nCincinnati,974\nCleveland,1383\nColorado Springs,455\nCorpus Christi,658\nDallas,675\nDenver,615\nDetroit,2122\nEl Paso,423\nFort Wayne,362\nFort Worth,587\nFresno,543\nGreensboro,563\nHenderson,168\nHouston,992\nIndianapolis,1185\nJacksonville,617\nJersey City,734\nKansas City,1263\nLas Vegas,784\nLexington,352\nLincoln,397\nLong Beach,575\nLos Angeles,481\nLouisville Metro,598\nMemphis,1750\nMesa,399\nMiami,1172\nMilwaukee,1294\nMinneapolis,992\nMobile,522\nNashville,1216\nNew Orleans,815\nNew York,639\nNewark,1154\nOakland,1993\nOklahoma City,919\nOmaha,594\nPhiladelphia,1160\nPhoenix,636\nPittsburgh,752\nPlano,130\nPortland,517\nRaleigh,423\nRiverside,443\nSacramento,738\nSan Antonio,503\nSan Diego,413\nSan Francisco,704\nSan Jose,363\nSanta Ana,401\nSeattle,597\nSt. Louis,1776\nSt. Paul,722\nStockton,1548\nTampa,616\nToledo,1171\nTucson,724\nTulsa,990\nVirginia Beach,169\nWashington,1177\nWichita,742\n'

In [16]:
#I have to remove the last data ('\n')
len(data)
data[:1030]

1031

'Albuquerque,749\nAnaheim,371\nAnchorage,828\nArlington,503\nAtlanta,1379\nAurora,425\nAustin,408\nBakersfield,542\nBaltimore,1405\nBoston,835\nBuffalo,1288\nCharlotte-Mecklenburg,647\nCincinnati,974\nCleveland,1383\nColorado Springs,455\nCorpus Christi,658\nDallas,675\nDenver,615\nDetroit,2122\nEl Paso,423\nFort Wayne,362\nFort Worth,587\nFresno,543\nGreensboro,563\nHenderson,168\nHouston,992\nIndianapolis,1185\nJacksonville,617\nJersey City,734\nKansas City,1263\nLas Vegas,784\nLexington,352\nLincoln,397\nLong Beach,575\nLos Angeles,481\nLouisville Metro,598\nMemphis,1750\nMesa,399\nMiami,1172\nMilwaukee,1294\nMinneapolis,992\nMobile,522\nNashville,1216\nNew Orleans,815\nNew York,639\nNewark,1154\nOakland,1993\nOklahoma City,919\nOmaha,594\nPhiladelphia,1160\nPhoenix,636\nPittsburgh,752\nPlano,130\nPortland,517\nRaleigh,423\nRiverside,443\nSacramento,738\nSan Antonio,503\nSan Diego,413\nSan Francisco,704\nSan Jose,363\nSanta Ana,401\nSeattle,597\nSt. Louis,1776\nSt. Paul,722\nStockton,1548\nTampa,616\nToledo,1171\nTucson,724\nTulsa,990\nVirginia Beach,169\nWashington,1177\nWichita,742'

In [17]:
rows = data[:1030].split('\n')
rows

['Albuquerque,749',
 'Anaheim,371',
 'Anchorage,828',
 'Arlington,503',
 'Atlanta,1379',
 'Aurora,425',
 'Austin,408',
 'Bakersfield,542',
 'Baltimore,1405',
 'Boston,835',
 'Buffalo,1288',
 'Charlotte-Mecklenburg,647',
 'Cincinnati,974',
 'Cleveland,1383',
 'Colorado Springs,455',
 'Corpus Christi,658',
 'Dallas,675',
 'Denver,615',
 'Detroit,2122',
 'El Paso,423',
 'Fort Wayne,362',
 'Fort Worth,587',
 'Fresno,543',
 'Greensboro,563',
 'Henderson,168',
 'Houston,992',
 'Indianapolis,1185',
 'Jacksonville,617',
 'Jersey City,734',
 'Kansas City,1263',
 'Las Vegas,784',
 'Lexington,352',
 'Lincoln,397',
 'Long Beach,575',
 'Los Angeles,481',
 'Louisville Metro,598',
 'Memphis,1750',
 'Mesa,399',
 'Miami,1172',
 'Milwaukee,1294',
 'Minneapolis,992',
 'Mobile,522',
 'Nashville,1216',
 'New Orleans,815',
 'New York,639',
 'Newark,1154',
 'Oakland,1993',
 'Oklahoma City,919',
 'Omaha,594',
 'Philadelphia,1160',
 'Phoenix,636',
 'Pittsburgh,752',
 'Plano,130',
 'Portland,517',
 'Raleigh,423',
 'Riverside,443',
 'Sacramento,738',
 'San Antonio,503',
 'San Diego,413',
 'San Francisco,704',
 'San Jose,363',
 'Santa Ana,401',
 'Seattle,597',
 'St. Louis,1776',
 'St. Paul,722',
 'Stockton,1548',
 'Tampa,616',
 'Toledo,1171',
 'Tucson,724',
 'Tulsa,990',
 'Virginia Beach,169',
 'Washington,1177',
 'Wichita,742']

In [18]:
int_crime_rates = []
for row in rows:
    crime_rate = row.split(',')
    crime_rates = int(crime_rate[1])
    int_crime_rates.append(crime_rates)
int_crime_rates

[749,
 371,
 828,
 503,
 1379,
 425,
 408,
 542,
 1405,
 835,
 1288,
 647,
 974,
 1383,
 455,
 658,
 675,
 615,
 2122,
 423,
 362,
 587,
 543,
 563,
 168,
 992,
 1185,
 617,
 734,
 1263,
 784,
 352,
 397,
 575,
 481,
 598,
 1750,
 399,
 1172,
 1294,
 992,
 522,
 1216,
 815,
 639,
 1154,
 1993,
 919,
 594,
 1160,
 636,
 752,
 130,
 517,
 423,
 443,
 738,
 503,
 413,
 704,
 363,
 401,
 597,
 1776,
 722,
 1548,
 616,
 1171,
 724,
 990,
 169,
 1177,
 742]

In [19]:
print(cities)

['Albuquerque', 'Anaheim', 'Anchorage', 'Arlington', 'Atlanta', 'Aurora', 'Austin', 'Bakersfield', 'Baltimore', 'Boston', 'Buffalo', 'Charlotte-Mecklenburg', 'Cincinnati', 'Cleveland', 'Colorado Springs', 'Corpus Christi', 'Dallas', 'Denver', 'Detroit', 'El Paso', 'Fort Wayne', 'Fort Worth', 'Fresno', 'Greensboro', 'Henderson', 'Houston', 'Indianapolis', 'Jacksonville', 'Jersey City', 'Kansas City', 'Las Vegas', 'Lexington', 'Lincoln', 'Long Beach', 'Los Angeles', 'Louisville Metro', 'Memphis', 'Mesa', 'Miami', 'Milwaukee', 'Minneapolis', 'Mobile', 'Nashville', 'New Orleans', 'New York', 'Newark', 'Oakland', 'Oklahoma City', 'Omaha', 'Philadelphia', 'Phoenix', 'Pittsburgh', 'Plano', 'Portland', 'Raleigh', 'Riverside', 'Sacramento', 'San Antonio', 'San Diego', 'San Francisco', 'San Jose', 'Santa Ana', 'Seattle', 'St. Louis', 'St. Paul', 'Stockton', 'Tampa', 'Toledo', 'Tucson', 'Tulsa', 'Virginia Beach', 'Washington', 'Wichita']

# #Booleans And if Statements

In [20]:
from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = 'all'

In [21]:
cat = True
dog = False
print(cat)
print(dog)
print(type(cat))

True
False
<class 'bool'>

In [22]:
cities = []
for row in rows:
    cities_data = row.split(',')
    cities_datas = cities_data[0]
    cities.append(cities_datas)
cities

['Albuquerque',
 'Anaheim',
 'Anchorage',
 'Arlington',
 'Atlanta',
 'Aurora',
 'Austin',
 'Bakersfield',
 'Baltimore',
 'Boston',
 'Buffalo',
 'Charlotte-Mecklenburg',
 'Cincinnati',
 'Cleveland',
 'Colorado Springs',
 'Corpus Christi',
 'Dallas',
 'Denver',
 'Detroit',
 'El Paso',
 'Fort Wayne',
 'Fort Worth',
 'Fresno',
 'Greensboro',
 'Henderson',
 'Houston',
 'Indianapolis',
 'Jacksonville',
 'Jersey City',
 'Kansas City',
 'Las Vegas',
 'Lexington',
 'Lincoln',
 'Long Beach',
 'Los Angeles',
 'Louisville Metro',
 'Memphis',
 'Mesa',
 'Miami',
 'Milwaukee',
 'Minneapolis',
 'Mobile',
 'Nashville',
 'New Orleans',
 'New York',
 'Newark',
 'Oakland',
 'Oklahoma City',
 'Omaha',
 'Philadelphia',
 'Phoenix',
 'Pittsburgh',
 'Plano',
 'Portland',
 'Raleigh',
 'Riverside',
 'Sacramento',
 'San Antonio',
 'San Diego',
 'San Francisco',
 'San Jose',
 'Santa Ana',
 'Seattle',
 'St. Louis',
 'St. Paul',
 'Stockton',
 'Tampa',
 'Toledo',
 'Tucson',
 'Tulsa',
 'Virginia Beach',
 'Washington',
 'Wichita']

In [23]:
first_alb = (cities[0] == "Albuquerque")
first_alb
second_alb = (cities[1] == "Albuquerque")
second_alb
last_element_index = len(cities) - 1
last_element_index
first_last = (cities[0] == cities[last_element_index])
first_last

True

False

72

False

In [30]:
crime_rates = int_crime_rates
crime_rates

[749,
 371,
 828,
 503,
 1379,
 425,
 408,
 542,
 1405,
 835,
 1288,
 647,
 974,
 1383,
 455,
 658,
 675,
 615,
 2122,
 423,
 362,
 587,
 543,
 563,
 168,
 992,
 1185,
 617,
 734,
 1263,
 784,
 352,
 397,
 575,
 481,
 598,
 1750,
 399,
 1172,
 1294,
 992,
 522,
 1216,
 815,
 639,
 1154,
 1993,
 919,
 594,
 1160,
 636,
 752,
 130,
 517,
 423,
 443,
 738,
 503,
 413,
 704,
 363,
 401,
 597,
 1776,
 722,
 1548,
 616,
 1171,
 724,
 990,
 169,
 1177,
 742]

In [28]:
crime_rates[0]
first_500 = (crime_rates[0] > 500)
first_500

749

True

In [32]:
first_749 = (crime_rates[0] >= 749)
first_749

True

In [36]:
print(len(crime_rates) - 1)
first_last = (crime_rates[0] >= crime_rates[len(crime_rates) - 1])
first_last

72

True

#### # if statements
The conditional statement after the if has to evaluate to either True or False.

In [37]:
sample_rate = 749
greater = (sample_rate > 5)
if greater:
    print(sample_rate)

749

In [38]:
if sample_rate > 5:
    print(sample_rate)

749

In [39]:
if True:
    print("Now you see me")
if False:
    print("Now you don't ")

Now you see me

In [44]:
if cities[2] == "Anchorage":
    result = 1
result

1

In [47]:
crime_rates[0]
crime_rates[1]
both_conditions = False
if crime_rates[0] > 500:
    if crime_rates[1] > 300:
        both_conditions = True
both_conditions

749

371

True

In [48]:
found = False
for city in cities:
    if city == "Washington":
        found = True
found

True

In [51]:
counter = 0
index = 0
for city in cities:
    if city == "Washington":
        index = counter
    counter += 1
counter

73

In [52]:
five_hundred_list = []
for data in crime_rates:
    if data > 500:
        five_hundred_list.append(data)
five_hundred_list

[749,
 828,
 503,
 1379,
 542,
 1405,
 835,
 1288,
 647,
 974,
 1383,
 658,
 675,
 615,
 2122,
 587,
 543,
 563,
 992,
 1185,
 617,
 734,
 1263,
 784,
 575,
 598,
 1750,
 1172,
 1294,
 992,
 522,
 1216,
 815,
 639,
 1154,
 1993,
 919,
 594,
 1160,
 636,
 752,
 517,
 738,
 503,
 704,
 597,
 1776,
 722,
 1548,
 616,
 1171,
 724,
 990,
 1177,
 742]

In [53]:
highest = crime_rates[0]
for data in crime_rates:
    if data > highest:
        highest = data
highest

2122

In [ ]:
f =

In [55]:
numericla_list[len(numerical_list)-1]
thousand_or_greater = []
for data in numerical_list:
    name = line[0]
    population = line[1]
    if population >= 1000:
        thousand_or_greater.append(name)
print(thousand_or_greater[0:10])

NameError: name 'numericla_list' is not defined